@import "./common/variables";
@import "~bootstrap/scss/bootstrap";
@import "./common/mixins";
figure {
  margin-bottom: 0;
}

* {
  margin: 0;
  padding: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

:root {
  --border-theme: 0.4rem;
  --radius-vmax: 100vmax;
  --swiper-navigation-color: #643484;
  --bs-body-font-family: "Poppins", sans-serif;
  --bs-emphasis-color: #643484;
  --offer-color: #f22b68;
  --font-bold: 600;
  --font-medium: 500;
  --font-smaller: 0.875rem;
  --font-smallest: 0.75rem;
  --heading-font: 5.5vw;
  --container-xl: 1200px;
  --common-space: 22px;
  --common-space-xl: 40px;
  --facebook-color: #1877f2;
  --twitter-color: #000000;
  --pinterest-color: #e60023;
  --linkedin-color: #0077b5;
  --youtube-color: #cd201f;
  --instagram-color: #c13584;
  --whatsapp-color: #25d366;
  --telegram-color: #0088cc;
  --phone-color: #0abf53;
  --shadow-theme: 0 19px 48px -12px rgba(0, 0, 0, 0.25);
}

a {
  text-decoration: none;
}

.fa-indian-rupee-sign {
  font-size: 0.9rem;
}

.accordion-button {
  padding: 0;
  font-weight: var(--font-bold);
  &:not(.collapsed) {
    background-color: transparent;
    box-shadow: none;
    color: $primary;
  }
  &:focus {
    box-shadow: none;
    border: none;
  }
}
.accordion-body {
  padding: 0.6rem 0 0;
}

h1,
.h1,
h2,
.h2 {
  font-weight: var(--font-bold);
  font-size: var(--heading-font);
  @include responsive(min640) {
    font-size: 1.625rem;
  }
}

h4,
.h4,
strong {
  font-weight: var(--font-medium);
}

.navbar-toggler {
  padding: 0;
  border: none;
  &:focus {
    box-shadow: none;
  }
}
/* .headderContainer {
  // border: red solid 1px;
} */

.customSearches {
  margin-top: 0.5rem;
  .form-control {
    &:not(:focus) {
      box-shadow: 0 6px 8px 0 rgba($primary, 0.2);
    }
    padding: 0.9rem;
  }
  .custom-btn {
    right: 5px;
    top: 5px;
    padding: 0.6rem 0.8rem;
  }
}

.search {
  position: relative;
  width: 100%;
  .close-btn {
    display: none;
  }
  &--modify {
    position: relative;
    flex: 1 1 100%;
  }
  .custom-btn {
    --bs-border-radius: 0.8rem;
    position: absolute;
    right: 4px;
    top: 4px;
    color: $white;
  }
}

.form-control {
  --bs-border-radius: 0.8rem;
  &::placeholder {
    font-size: var(--font-smaller);
  }
}

.search-control {
  display: flex;
  align-items: center;
  @include responsive(min992) {
    flex: 1 1 100%;
  }
  &__btn {
    @include responsive(min992) {
      display: none;
    }
  }
  > .search {
    @include responsive(max991) {
      display: flex;
      position: absolute;
      right: 0;
      top: 0;
      padding: 0.6rem var(--common-space);
      width: 100%;
      background-color: $white;
      align-items: center;
      z-index: 1;
    }
    .form-control {
      padding: 0.57rem;
    }
    .close-btn {
      padding-left: 0;
      display: block;
      @include responsive(min992) {
        display: none;
      }
    }
    .custom-btn {
      top: 3px;
    }
  }
}

.customBtn {
  @include arrow-round-symbol;
}

.container-xl,
.container-fluid {
  @media (min-width: 320px) {
    padding-left: var(--common-space);
    padding-right: var(--common-space);
  }
  @include responsive(min768) {
    padding-left: var(--common-space-xl);
    padding-right: var(--common-space-xl);
  }
}
.container-xl {
  @media (min-width: 1200px) {
    max-width: var(--container-xl);
  }
}

.breadcrumb {
  font-size: 0.9rem;
}
.offcanvas-body {
  flex-direction: column;
}
.btn-primary,
.btn-outline-primary {
  --bs-btn-line-height: 1.9;
}

.btn-close {
  width: var(--common-space);
  height: var(--common-space);
  border-radius: var(--radius-vmax);
  transition: all 0.1s ease-in;
  &:focus {
    box-shadow: none;
  }
  &:hover {
    background-color: $gray-300;
  }
  &:active {
    transform: scale(0.8);
  }
}

.btn-custom {
  position: relative;
  display: flex !important;
  column-gap: 0.3rem;
  align-items: center;
  font-weight: var(--font-medium);
  color: $link-color;
  border: none;
  background: none;
  span {
    position: relative;
    display: block;
    height: 20px;
    width: 35px;
    transition: all 0.2s ease;
    overflow: hidden;
    .arrowColor {
      stroke: red;
    }
    img {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
  &:hover {
    span {
      width: 63px;
    }
  }
}

.desk-form {
  position: fixed;
  right: -3rem;
  top: calc(50% - 4rem);
  transform: rotate(-90deg);
  z-index: 2;
}

.canvas-custom {
  --bs-offcanvas-height: auto;
  border-top: 3px solid $primary;
  &.popup-form {
    @include responsive(min768) {
      max-width: 450px;
      --bs-offcanvas-height: calc(75vh - 5rem);
      top: 15vh;
    }
  }
  @include responsive(min768) {
    max-width: 778px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    --bs-offcanvas-height: calc(100vh - 5rem);
    bottom: var(--common-space-xl);
    border-radius: calc(var(--border-theme) * 2);
    overflow: hidden;
  }
  &__body {
    padding: var(--common-space) calc(var(--common-space-xl) - 0.5rem);
    strong {
      // display: block;
      font-size: 1.1rem;
      font-weight: var(--font-bold);
    }
    ul {
      li {
        padding-top: 0.9rem;
        padding-bottom: 0.9rem;
        display: flex;
        column-gap: 0.9rem;
        svg {
          font-size: 1.5rem;
        }
        &:not(:last-child) {
          border-bottom: 1px solid rgba($body-color, 0.15);
        }
      }
    }
  }
}

.offcanvas-header {
  min-height: 3.5rem;
  .offcanvas-title {
    // font-size: 8vw;
    font-weight: var(--font-bold);
    flex: 1;
    text-align: center;
  }
}
.btn-close {
  order: -1;
}

@import "./common/footer";
