@import "./common/variables";
@import "./common/mixins";

.bannerSection {
  position: relative;
}

.bg {
  position: absolute;
  top: 35%;
  right: 0;
  // width: auto;
  // height: 100vh;
  // border: red solid 1px;
  overflow: hidden;
  img {
    position: relative;
    right: -50%;
  }
}

.banner {
  // border: red solid 1px;
  height: 400px;
  @include responsive(min768) {
    height: 550px;
  }
  position: relative;
  img {
    height: 100%;
    object-fit: cover;
    object-position: center bottom;
  }
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba($white, 0.8);
    z-index: 1;
    // border: red solid 1px;
  }
}

.homeSearch {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  // text-align: center;
  /* .h1 {
    font-size: var(--heading-font);
    @include responsive(min640) {
      font-size: 2.5vw;
    }
    @include responsive(min768) {
      font-size: 2.5vw;
    }
    @include responsive(min992) {
      font-size: 2.5vw;
    }
  } */
  .inner {
    position: relative;
  }
}
.popularSearch {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  @include responsive(min992) {
    flex-wrap: inherit;
  }
  align-items: center;
  column-gap: 0.5rem;
  .heading {
    font-size: 0.85rem;
  }
  ul {
    display: flex;
    column-gap: 0.5rem;
    font-size: 0.85rem;
    overflow-x: auto;
    // border: red solid 1px;
    @include responsive(min992) {
    }
    li {
      @include responsive(max991) {
        white-space: nowrap;
        margin-bottom: 0.6rem;
      }
      a {
        color: $primary;
        background-color: $white;
        display: block;
        padding: 0.4rem 0.7rem;
        border-radius: var(--border-theme);
        border: 1px solid rgba($primary, 0.2);
        transition: all 0.2s;
        &:hover {
          box-shadow: 0 2px 5px 0 rgba($primary, 0.3);
        }
      }
    }
  }
}

.customSearches {
  margin-top: 0.5rem;
  .customControl {
    padding: 0.8rem;
  }
}

%homeBased {
  svg {
    vertical-align: 0rem;
  }
  h2 {
    /* font-size: var(--heading-font);
    @include responsive(min640) {
      font-size: 2.5vw;
    }
    @include responsive(min768) {
      font-size: 2.5vw;
    }
    @include responsive(min992) {
      font-size: 2.5vw;
    } */
    margin-right: 5rem;
    small {
      color: rgba($black, 0.4);
      font-weight: lighter;
      margin-right: 0.3rem;
      font-size: inherit;
    }
  }
  p {
    margin-right: 5rem;
    font-size: var(--font-smaller);
  }
}

.topProjectContent {
  @extend %homeBased;
  padding: 2rem 0;
  @include responsive(min992) {
    padding: 4rem 0 2rem;
  }
  .bigThumb {
    position: relative;
    border-radius: var(--border-theme);
    background-color: $white;
    border: 1px solid rgba($primary, 0.1);
    img {
      height: 280px;
      @include responsive(min1025) {
        height: 400px;
      }
    }
    .offers {
      @extend %offer-short;
    }
    figcaption {
      padding: 1.2rem;
      display: flex;
      justify-content: space-between;
      align-items: center;

      h4 {
        font-size: 1.1rem;
        @include responsive(min992) {
          font-size: 1.2rem;
        }
      }
      ul {
        display: flex;
        flex-wrap: wrap;
        // border: red solid 1px;
        @include responsive(min768) {
          flex-wrap: nowrap;
        }
        font-size: 0.9rem;
        li {
          &:not(:last-child) {
            border-right: 1px solid rgba($primary, 0.2);
            padding-right: 0.5rem;
          }
          &:not(:first-child) {
            padding-left: 0.5rem;
          }
        }
      }
    }
    &:hover {
      box-shadow: 0px 24px 24px -12px rgba($primary, 0.2);
    }
  }
  .thumb {
    position: relative;
    img {
      border-radius: var(--border-theme) var(--border-theme) 0 0;
    }
    &::before {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 60%;
      // background-color: rgba($black, 0.5);
      content: "";
      z-index: 1;
      background: linear-gradient(0deg, rgba($black, 1) 0%, rgba($black, 0) 100%);
    }
  }
  :global {
    .price {
      margin-top: 0.5rem;
      margin-right: 0.5rem;
      @extend %price;
    }
  }
}
.viewProjects {
  width: 2rem;
  height: 2rem;
  border-radius: var(--radius-vmax);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba($primary, 0.2);
  color: $primary;
  &:hover {
    box-shadow: 0 3px 0 0 rgba($primary, 0.3);
  }
}

.featureProject {
  @extend %homeBased;
  padding: 2rem 0;
  @include responsive(min992) {
    padding: 4rem 0 2rem;
  }
  :global {
    .list {
      @extend %projectItems;
      .price {
        @extend %price;
      }
    }
  }
}

.featureCollection {
  @extend %homeBased;
  padding: 2rem 0;
  @include responsive(min992) {
    padding: 4rem 0 2rem;
  }
  .list {
    position: relative;
    border-radius: var(--border-theme);
    overflow: hidden;
    a {
      color: inherit;
    }
    figcaption {
      z-index: 1;
      top: 0;
      left: 0;
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba($black, 0.6);
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      padding: 1rem;
      text-align: center;
      color: $white;
      p {
        margin-bottom: 0;
        font-size: 0.8rem;
        color: rgba($white, 0.7);
      }
    }
    img {
      transition: all 0.3s ease;
      height: 250px;
    }
    &:hover {
      img {
        transform: scale(1.1);
      }
    }
  }
}

.developers {
  @extend %homeBased;
  padding: 2rem 0;
  @include responsive(min992) {
    padding: 4rem 0;
  }
  :global {
    .items {
      border: 1px solid rgba($primary, 0.2);
      text-align: center;
      padding: 1rem;
      border-radius: var(--border-theme);
    }
    .btn-custom {
      margin-top: 1.5rem;
    }
  }
}

.news {
  @extend %homeBased;
  padding: 2rem 0;
  @include responsive(min992) {
    padding: 4rem 0;
  }
  :global {
    .news__item {
      position: relative;
      border: 1px solid rgba($primary, 0.2);
      border-radius: var(--border-theme);
      overflow: hidden;
      figcaption {
        padding: 1rem;
        h4 {
          font-weight: var(--font-bold);
          font-size: var(--heading-font);
          @include responsive(min768) {
            font-size: 1.2rem;
          }
          a {
            color: inherit;
            &:hover {
              color: $primary;
            }
          }
        }
        .btn-custom {
          display: none !important;
        }
      }
    }
    .btn-custom {
      margin-top: 1.5rem;
    }
  }
}

.testimonials {
  @extend %homeBased;
  padding: 2rem 0;
  @include responsive(min992) {
    padding: 4rem 0;
  }
  &__bg {
    border-radius: var(--border-theme);
    margin-top: 1rem;
    border: 1px solid rgba($primary, 0.2);
    position: relative;
    overflow: hidden;
    /*  display: flex;
    align-items: center;
    justify-content: center; */

    // padding: 2rem;
    .leftBg,
    .rightBg {
      position: absolute;
      width: 400px;
      height: 400px;
      // border: red solid 1px;
      /* img {
        width: 190%;
        height: 190%;
      } */
    }
    .leftBg {
      transform: rotate(340deg);
      top: -5rem;
      left: -11rem;
    }
    .rightBg {
      transform: rotate(186deg);
      bottom: -7rem;
      right: -9rem;
    }
  }
  .items {
    display: flex;
    flex-wrap: wrap;
    column-gap: 2rem;
    padding: 2rem 2.5rem;
    p {
      margin-right: 0;
    }
    @include responsive(min768) {
      padding: 7rem 8rem;
      flex-wrap: inherit;
    }
    .thumbs {
      align-self: flex-start;
      flex: 0 0 6rem;
      margin-bottom: 1rem;
      img {
        height: 6rem;
        width: 6rem;
        border-radius: var(--radius-vmax);
        display: block;
      }
    }
    .right {
      .location {
        margin-bottom: 1.5rem;
      }
    }
  }
}
.swiperCustomControl {
  :global {
    @extend %next-prev-decoration;
    .swiper-pagination-bullet {
      width: 1.5rem;
      border-radius: 0.3rem;
      &-active {
        width: 2.5rem;
        background-color: $primary;
      }
    }
  }
}
