a {
  text-decoration: none;
}

.fa-indian-rupee-sign {
  font-size: 0.9rem;
}

h1,
.h1,
h2,
.h2 {
  font-weight: var(--font-bold);
  font-size: 1.625rem;
}

h3,
.h3,
h4,
.h4,
strong {
  font-weight: var(--font-medium);
}
