.footer {
  margin-top: 3rem;
  background-color: $gray-100;
  &__top {
    background-color: $white;
    border-top: 1px solid rgba($primary, 0.2);
    border-bottom: 1px solid rgba($primary, 0.2);
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    .accordion {
      display: flex;
      justify-content: space-between;
      // column-gap: 1.5rem;
      @include responsive(max991) {
        flex-wrap: wrap;
      }
      &-item {
        flex: 0 0 calc(50% - 1.5rem);
        @include responsive(min992) {
          flex: 0 0 calc(25% - 1.5rem);
          padding: 0;
        }
        margin-top: 1rem;
        margin-bottom: 1rem;
        border-radius: 0;
        border: none;
        &:not(:last-child) {
          .accordion-button {
            border-right: rgba($primary, 0.2) solid 1px;
          }
        }
      }
      &-button {
        &::after {
          margin-right: 1rem;
        }
      }
    }
    a {
      display: block;
      padding-top: 0.3rem;
      padding-bottom: 0.3rem;
    }
  }
  &__middle {
    padding-top: 2.5rem;
    @include responsive(min992) {
      padding-bottom: 2.5rem;
    }
    padding-bottom: 4.5rem;
    a {
      display: block;
      padding-top: 0.3rem;
      padding-bottom: 0.3rem;
      font-size: var(--font-smaller);
      color: rgba($body-color, 0.8);
      &:hover {
        color: $link-color;
      }
    }
    .swiperCustomControl {
      @extend %next-prev-decoration;
      .swiper-button-prev,
      .swiper-button-next {
        top: auto;
        bottom: -2.2rem;
      }
      .swiper-button-prev {
        left: 2px;
      }
      .swiper-button-next {
        left: 2.5rem;
      }
    }
  }
  &__about {
    border-top: 1px solid rgba($primary, 0.2);
    @extend .footer__middle;
    .h5 {
      margin-top: calc(var(--common-space) * 1.5);
    }

    @include responsive(max991) {
      padding-bottom: var(--common-space);
    }
  }
  &__bottom {
    border-top: 1px solid rgba($primary, 0.2);
    padding-bottom: 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    @include responsive(min992) {
      text-align: inherit;
      padding-bottom: 1rem;
      flex-wrap: nowrap;
    }
  }
  .copyright {
    flex: 1 1 auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: var(--font-smaller);
  }
}
.social {
  flex: 1 1 auto;
  @include responsive(min992) {
    flex: 0 0 auto;
  }
  display: flex;
  align-items: center;
  justify-content: center;
  li {
    flex-wrap: wrap;
    display: flex;
    gap: 0.9rem;
    a {
      display: block;
      transition: all 0.1s ease-in;
      svg {
        font-size: 1.7rem;
        &.fa-facebook,
        &.fa-square-facebook {
          color: var(--facebook-color);
        }
        &.fa-x-twitter,
        &.fa-square-x-twitter {
          color: var(--twitter-color);
        }
        &.fa-pinterest,
        &.fa-square-pinterest {
          color: var(--pinterest-color);
        }
        &.fa-linkedin {
          color: var(--linkedin-color);
        }
        &.fa-youtube {
          color: var(--youtube-color);
        }
        &.fa-instagram {
          color: var(--instagram-color);
        }
        &.fa-whatsapp {
          color: var(--whatsapp-color);
        }
        &.fa-telegram {
          color: var(--telegram-color);
        }
      }
      span {
        display: none;
      }
      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

.desk-whatsapp {
  position: fixed;
  left: 1.4rem;
  bottom: 6rem;
  z-index: 10;
  display: none;
  @include responsive(min992) {
    display: block;
  }
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100vmax;
    width: 3.7rem;
    height: 3.7rem;
    background-color: var(--whatsapp-color);
    svg {
      font-size: 2.4rem;
      color: $white;
    }
  }
}

.aside_btn {
  display: flex;
  align-items: center;
  position: fixed;
  column-gap: 0.8rem;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 100;
  text-align: center;
  padding: 0.5rem 0.9rem;
  background-color: $white;
  border-top: 1px solid rgba($gray-300, 0.5);
  @media (min-width: 320px) {
    padding-left: var(--common-space);
    padding-right: var(--common-space);
  }
  @include responsive(min768) {
    padding-left: var(--common-space-xl);
    padding-right: var(--common-space-xl);
  }
  @include responsive(min992) {
    display: none;
  }
  .whatsapp {
    svg {
      font-size: 3.15rem;
      color: var(--whatsapp-color);
    }
    span {
      display: none;
    }
  }
  .phone {
    @extend .whatsapp;
    svg {
      color: var(--phone-color);
    }
  }
}
