$primary: #643484;
$secondary: #e55424;
$body-color: #212529;
$white: #fff;
$black: #000;
$light: #f7f7f7;
$link-color: #0d6efd;
// $whatsappColor: #25d366;
// $phoneColor: #0abf53;
$table-striped-bg: rgba($primary, 0.2);
$themeColor: #643484;
